version: "3.3"
services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: educall_db
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: python run.py
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
        FLASK_ENV: development
        CELERY_BROKER_URL: redis://redis:6379/0
        CELERY_RESULT_BACKEND: redis://redis:6379/1
    volumes:
      - .:/app_for
  
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  
  worker:
    build: .
    command: celery -A celery_app.celery worker --loglevel=info --concurrency=1
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      - redis


volumes:
  db_data:





